IS_ADMIN='true'
IS_INTERNAL='true'
LANDING_PAGE_URL='https://ownerchip.com'
DEFAULT_GAS_PRICE='0x77359400'
IPFS_GATEWAY_API='https://api.pinata.cloud/'
IPFS_API_KEY=''
IPFS_PIN_COMMAND='pinning/pinFileToIPFS/'
IPFS_UNPIN_COMMAND='pinning/unpin/'
IPFS_CID_RESPONSE_PATH='IpfsHash'
IPFS_GATEWAY='https://rose-able-mollusk-412.mypinata.cloud/ipfs/'
IPFS_ALTERNATIVE_GATEWAY='https://nftstorage.link/ipfs/'
IMAGE_ASSETS_BASE_URL='./assets/images/ownerchip'
STYLE_ID='ownerchip'
LEGAL_PAGE_URL='https://ownerchip.com/de/app-support.html'
SUPPORT_PAGE_URL='https://www.ownerchip.com/en/support.html'
OC_BACKEND_URL='https://api.ownerchip.com'
OC_BACKEND_URL_TEST='https://testapi.ownerchip.com'
NDEF_URL='item.ownerchip.com/'
NDEF_URL_TEST='testitem.ownerchip.com/'
BITRISEIO_PACKAGE_NAME='com.ownerchip.demo'
SENTRY_DSN='https://30b7e5fbd27e4b4a9a6be20d3e4dc8c4@o4504922227212288.ingest.sentry.io/4504922228719616'