CHAIN_NAME='Polygon Mumbai Testnet'
CHAIN_ID=80001
CHAIN_RPC='https://rpc-mumbai.maticvigil.com'
CONTRACT_NAME='OwnerChipDemo'
CONTRACT_ADDRESS='0xfC97db8f5F39FE3354427674ABfC219795eba782'
DEFAULT_GAS_PRICE='0x77359400'
IPFS_GATEWAY='https://cloudflare-ipfs.com/ipfs/'