IS_ADMIN='true'
IS_INTERNAL='true'
LANDING_PAGE_URL='https://ownerchip.com/'
DEFAULT_GAS_PRICE='0x77359400'
IPFS_GATEWAY_API='https://api.pinata.cloud/'
IPFS_API_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIxNTYyYzMyOC1mMGEwLTQwZjEtYTNhMi0zMGVkMGEyYTYyMTEiLCJlbWFpbCI6InRlY2huaWtAb3duZXJjaGlwLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImlkIjoiRlJBMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfSx7ImlkIjoiTllDMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI2MzJlOGZlYmYyNzhmMTg3YTJmMSIsInNjb3BlZEtleVNlY3JldCI6IjkwNmFkYjU2MjFhZDIzYTA2MTNjOWIwMDI5NzRlMjk0ZmVlOGQ3MTkyZTgwMjM0OWVlMDBkMWY5ZWMyMTY1MjgiLCJpYXQiOjE2Njc5Mjc5OTZ9.RPPyX8fUlEgaP4p_rd_zmvpidardD09XtCzX5vn3SkM'
IPFS_PIN_COMMAND='pinning/pinFileToIPFS/'
IPFS_UNPIN_COMMAND='pinning/unpin/'
IPFS_CID_RESPONSE_PATH='IpfsHash'
IPFS_GATEWAY='https://rose-able-mollusk-412.mypinata.cloud/ipfs/'
IPFS_ALTERNATIVE_GATEWAY='https://nftstorage.link/ipfs/'
IMAGE_ASSETS_BASE_URL='./assets/images/ownerchip'
APP_ID='ownerchip'
LEGAL_PAGE_URL='https://ownerchip.com/de/app-support.html'
SUPPORT_PAGE_URL='https://www.ownerchip.com/en/support.html'
OC_BACKEND_URL_TEST='https://testapi.ownerchip.com'
OC_BACKEND_URL='https://api.ownerchip.com'
NDEF_URL='item.ownerchip.com/'
NDEF_URL_TEST='testitem.ownerchip.com/'
BITRISEIO_PACKAGE_NAME='com.ownerchip.internal'
SENTRY_DSN='https://30b7e5fbd27e4b4a9a6be20d3e4dc8c4@o4504922227212288.ingest.sentry.io/4504922228719616'
VERSION_NUMBER='1.5.7'
WC_PROJECT_ID='2c1f8425ead06e944ba87cc51745fcd2'
OWNERCARD_BASE_ID=''
MAINNET_RARIBLE_API_KEY=''
ALCHEMY_API_KEY_POLYGON=''
ALCHEMY_API_KEY_ETH=""
WEB3_AUTH_CLIENT_ID='BOShp3E8ORoWs4aNjUG91CqRBLhuCafF1yNtlMpFnowr_PRpJPpDUhGem_RPPaWLXr0XQ-Z0n5_BVqUnH7wDCpo'