<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>OwnerChip Demo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OwnerChip</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>islamiwallet</string>
		<string>zel</string>
		<string>com.wallet.passpay</string>
		<string>zeluswallet</string>
		<string>midoin</string>
		<string>dfw</string>
		<string>roam</string>
		<string>mewwallet</string>
		<string>metamask</string>
		<string>avacus</string>
		<string>argent</string>
		<string>bitski</string>
		<string>bybitapp</string>
		<string>hippowallet</string>
		<string>internetmoney</string>
		<string>core</string>
		<string>getcogni</string>
		<string>gtweb3wallet</string>
		<string>impactsx</string>
		<string>myapp</string>
		<string>enjinwallet</string>
		<string>wirexwallet</string>
		<string>stasis</string>
		<string>omni</string>
		<string>strikex</string>
		<string>bitcoincom</string>
		<string>bnc</string>
		<string>kryptogo</string>
		<string>roninwallet</string>
		<string>moonstake</string>
		<string>ripio</string>
		<string>frontier</string>
		<string>qubic</string>
		<string>dropp</string>
		<string>safepalwallet</string>
		<string>bee</string>
		<string>shido</string>
		<string>foxwallet</string>
		<string>exodus</string>
		<string>coolwallet</string>
		<string>shinobi-wallet</string>
		<string>halowallet</string>
		<string>spotonchain</string>
		<string>rainbow</string>
		<string>obvious</string>
		<string>robinhood-wallet</string>
		<string>cbwallet</string>
		<string>okto</string>
		<string>bitkeep</string>
		<string>hyperPay</string>
		<string>bitizen</string>
		<string>ape</string>
		<string>uniswap</string>
		<string>vimwallet</string>
		<string>oasys-wallet</string>
		<string>coinstats</string>
		<string>ledgerlive</string>
		<string>safe</string>
		<string>okex</string>
		<string>trust</string>
		<string>thorwallet</string>
		<string>krakenwallet</string>
		<string>cosmostation</string>
		<string>coinwallet</string>
		<string>walletapp</string>
		<string>wcflutterwallet</string>
		<string>rn-web3wallet</string>
	</array>
	<key>FlutterDeepLinkingEnabled</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>URL_SCHEME</string>
			</array>
		</dict>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>We need to use NFC</string>
	<key>NSCameraUsageDescription</key>
	<string>The OwnerChip app uses this access so you can add an NFT image and photo attachments to your digital twin.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The OwnerChip app uses this access so you can add an NFT image and photo attachments to your digital twin.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string>8005</string>
		<string>8008</string>
		<string>0003</string>
		<string>fe00</string>
		<string>90b7</string>
		<string>927a</string>
		<string>86a7</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>A000000003101001</string>
		<string>A000000003101002</string>
		<string>A0000000041010</string>
		<string>A0000000042010</string>
		<string>A0000000044010</string>
		<string>44464D46412E44466172653234313031</string>
		<string>D2760000850100</string>
		<string>D2760000850101</string>
		<string>D2760000041502000100000001</string>
		<string>00000000000000</string>
	</array>
</dict>
</plist>
